<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <table style="width:100%">
            <tr class="heading">
                <th>Name</th>
                <th>Email</th>
                <th>Promoted/Demoted</th>
                <th>Delete</th>
            </tr>
            <% users.forEach(user=> { %>
                <% if (user.isPromoted==true) { %>
                    <tr class="green">
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <%} else if (user.isPromoted==false) { %>
                    <tr class="red">
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <% } else { %>
                    <tr class="yellow">
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <% } %>
                            
                            <td>
                                <form method="POST" action="/user/<%= user._id %>/?_method=PUT">
                                    <button id="edit-<%= user.name %>" type="submit">Promote/Demoted</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/user/<%= user._id %>?_method=DELETE">
                                    <button id="delete-<%= user.name %>">Delete</button>
                                </form>
                            </td>
                    </tr>
                    <% }) %>
        </table>
        <button class="addUser"><a href="/form">Add User</a></button>
    </div>
</body>

</html>